USE [master]
GO
/****** Object:  Database [ASM_PDP201]    Script Date: 29/08/2023 10:55:24 SA ******/
CREATE DATABASE [ASM_PDP201]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASM_PDP201', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ASM_PDP201.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASM_PDP201_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ASM_PDP201_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASM_PDP201].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASM_PDP201]
GO
/****** Object:  Table [dbo].[BAIDANG]    Script Date: 29/08/2023 10:55:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIDANG](
	[IDBaiDang] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[tieuDe] [nvarchar](100) NOT NULL,
	[soNha] [nvarchar](50) NOT NULL,
	[phuong] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[dienTich] [int] NOT NULL,
	[gia] [int] NOT NULL,
	[hinh] [varchar](50) NULL,
	[ngayDang] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 29/08/2023 10:55:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[IDDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NULL,
	[IDBaiDang] [int] NULL,
	[diemDanhGia] [int] NULL,
	[noiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 29/08/2023 10:55:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](100) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[dienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](50) NOT NULL,
	[vaiTro] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAIDANG] ON 

INSERT [dbo].[BAIDANG] ([IDBaiDang], [tenDangNhap], [tieuDe], [soNha], [phuong], [moTa], [dienTich], [gia], [hinh], [ngayDang]) VALUES (1, N'user', N'Phòng Trọ Cho Thuê', N'703 Lê Thị Riêng', N'Hiệp Thành', N'Nội thất bao gồm: giường, nệm, máy lạnh, tủ lạnh, tủ quần áo, kệ bếp. Phí nước 100k/ng, phí quản lý 100k/phòng, phí điện 3.500/kwh, xe free 2c. Toà nhà trang bị khoá vân tay, máy giặt chung, wifi', 52, 4000000, N'a1.jpg', CAST(N'2023-08-03' AS Date))
INSERT [dbo].[BAIDANG] ([IDBaiDang], [tenDangNhap], [tieuDe], [soNha], [phuong], [moTa], [dienTich], [gia], [hinh], [ngayDang]) VALUES (2, N'user', N'Phòng Trọ Cho Thuê', N'74M1', N'Hiệp Thành', N'Nội thất bao gồm: giường, nệm, máy lạnh, tủ lạnh, tủ quần áo, kệ bếp. Phí nước 100k/ng, phí quản lý 100k/phòng, phí điện 3.500/kwh, xe free 2c. Toà nhà trang bị khoá vân tay, máy giặt chung, wifi', 20, 3600000, N'a2.jpg', CAST(N'2023-08-03' AS Date))
INSERT [dbo].[BAIDANG] ([IDBaiDang], [tenDangNhap], [tieuDe], [soNha], [phuong], [moTa], [dienTich], [gia], [hinh], [ngayDang]) VALUES (3, N'user', N'Phòng Trọ Cho Thuê', N'55', N'Hiệp Thành', N'Nội thất bao gồm: giường, nệm, máy lạnh, tủ lạnh, tủ quần áo, kệ bếp. Phí nước 100k/ng, phí quản lý 100k/phòng, phí điện 3.500/kwh, xe free 2c. Toà nhà trang bị khoá vân tay, máy giặt chung, wifi', 25, 2400000, N'a3.jpg', CAST(N'2023-08-03' AS Date))
SET IDENTITY_INSERT [dbo].[BAIDANG] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHGIA] ON 

INSERT [dbo].[DANHGIA] ([IDDanhGia], [tenDangNhap], [IDBaiDang], [diemDanhGia], [noiDung]) VALUES (22, N'bao09', 1, NULL, N'Phòng này còn không ạ')
INSERT [dbo].[DANHGIA] ([IDDanhGia], [tenDangNhap], [IDBaiDang], [diemDanhGia], [noiDung]) VALUES (23, N'tam01', 1, NULL, N'Phòng đúng như mô tả')
INSERT [dbo].[DANHGIA] ([IDDanhGia], [tenDangNhap], [IDBaiDang], [diemDanhGia], [noiDung]) VALUES (25, N'hoang', 1, NULL, N'Trọ còn không a')
SET IDENTITY_INSERT [dbo].[DANHGIA] OFF
GO
INSERT [dbo].[NGUOIDUNG] ([tenDangNhap], [matKhau], [hoTen], [dienThoai], [email], [vaiTro]) VALUES (N'admin', N'123', N'ADMIN', N'0123456789', N'admin@email.com', 1)
INSERT [dbo].[NGUOIDUNG] ([tenDangNhap], [matKhau], [hoTen], [dienThoai], [email], [vaiTro]) VALUES (N'An', N'123123', N'Nguyễn Trà An', N'08985242552', N'an123123@gmail.com', 0)
INSERT [dbo].[NGUOIDUNG] ([tenDangNhap], [matKhau], [hoTen], [dienThoai], [email], [vaiTro]) VALUES (N'bao02', N'12345', N'Gia Bảo', N'01982748', N'gbao@gmail.com', 0)
GO
ALTER TABLE [dbo].[BAIDANG] ADD  DEFAULT (getdate()) FOR [ngayDang]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([tenDangNhap])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([IDBaiDang])
REFERENCES [dbo].[BAIDANG] ([IDBaiDang])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([tenDangNhap])
GO
USE [master]
GO
